<div class="extension-manager-dialog modal">
    <div class="modal-header">
        <ul class="nav nav-tabs no-focus">
            {{#showRegistry}}
                <li><a href="#registry" class="registry" data-toggle="tab"><img src="styles/images/extension-manager-registry.svg"/><br/>{{Strings.EXTENSIONS_AVAILABLE_TITLE}}</a></li>
                <li><a href="#themes" class="themes" data-toggle="tab"><img src="styles/images/themes-icon.svg"/><br/>{{Strings.EXTENSIONS_THEMES_TITLE}}</a></li>
                <!--<li><a href="#updates" class="updates" data-toggle="tab"><img src="styles/images/extension-manager-updates.svg"/><br/>{{Strings.EXTENSIONS_UPDATES_TITLE}}</a></li>-->
            {{/showRegistry}}
            <li>
                <a href="#installed" class="installed" data-toggle="tab">
                    <span class="notification"></span>
                    <img src="styles/images/extension-manager-installed.svg"/>
                    <br/>
                    {{Strings.EXTENSIONS_INSTALLED_TITLE}}
                </a>
            </li>
            <li>
                <a href="#default" class="default" data-toggle="tab">
                    <img src="styles/images/extension-manager-installed.svg"/>
                    <br/>
                    {{Strings.EXTENSIONS_DEFAULT_TITLE}}
                </a>
            </li>
        </ul>
        <div>
            <div class="ext-sort-group">
               <div id="sort-attributes-icon"></div>
               <select class="sort-extensions">
                   <option value="publishedDate">{{Strings.EXTENSIONS_LAST_UPDATED}}</option>
                   <option value="downloadCount">{{Strings.EXTENSIONS_DOWNLOADS}}</option>
               </select>
            </div>
            <div class="search-container">
                <button class="search-clear">&times;</button>
                <input class="search" type="text" placeholder="{{Strings.EXTENSION_SEARCH_PLACEHOLDER}}">
            </div>
        </div>
    </div>
    <div class="modal-body no-padding table-striped tab-content">
        <div class='spinner large spin'/>
    </div>
    <div class="modal-footer">
        <span id="install-drop-zone" class="btn left drag">
            <span class="install-drag-message">{{Strings.INSTALL_EXTENSION_DRAG}} <a class="install-from-url">{{Strings.INSTALL_FROM_URL}}</a></span>
            <span class="install-drop-message">{{Strings.INSTALL_EXTENSION_DROP}}</span>
            <span class="install-validating-message">{{Strings.INSTALL_EXTENSION_VALIDATING}}</span>
            <div id="install-drop-zone-mask"></div>
        </span>
        <button class="dialog-button btn primary" data-button-id="close">{{Strings.DONE}}</button>
    </div>
</div>
