<tr>
    <td class="ext-info">
        <span class="ext-name">{{#metadata.title}}{{metadata.title}}{{/metadata.title}}{{^metadata.title}}{{metadata.name}}{{/metadata.title}}</span>
        {{#authorInfo}}
            <span class="muted ext-author">{{{authorInfo}}}</span>
        {{/authorInfo}}
        <span class="muted ext-version">{{metadata.version}}</span>
        {{#hasVersionInfo}}
            <span class="muted ext-date"> &mdash; {{lastVersionDate}}</span>
        {{/hasVersionInfo}}
        {{#downloadCount}}
            <p title="{{downloadCount}} {{Strings.EXTENSIONS_DOWNLOADS}}"><img src="styles/images/download-icon.svg"/> {{downloadCount}}</p>
        {{/downloadCount}}
    </td>
    <td class="ext-desc">
        {{#showInstallButton}}
            <!-- Warnings when trying to install extension where latest/all versions not compatible -->
            {{#defaultFeature}}
                <div class="alert warning">{{Strings.EXTENSION_DEFAULT_FEATURE_PRESENT}}</div>
            {{/defaultFeature}}
            {{^isCompatible}}
                <div class="alert warning">
                    {{#requiresNewer}}{{Strings.EXTENSION_INCOMPATIBLE_NEWER}}{{/requiresNewer}}
                    {{^requiresNewer}}{{Strings.EXTENSION_INCOMPATIBLE_OLDER}}{{/requiresNewer}}
                </div>
            {{/isCompatible}}
            {{#isCompatible}}
                {{^isCompatibleLatest}}
                    <div class="alert warning">
                        {{installWarning}}
                    </div>
                {{/isCompatibleLatest}}
            {{/isCompatible}}
        {{/showInstallButton}}
        <span class="ext-full-description">
            {{#metadata.shortdescription}}
                {{metadata.shortdescription}}
            {{/metadata.shortdescription}}
            {{^metadata.shortdescription}}
                {{#metadata.description}}
                    {{metadata.description}}
                {{/metadata.description}}
                {{^metadata.description}}
                    <p class="muted"><em>{{Strings.EXTENSION_NO_DESCRIPTION}}</em></p>
                {{/metadata.description}}
            {{/metadata.shortdescription}}
        </span>
        {{#metadata.shortdescription}}
        <a data-extension-id="{{metadata.name}}" data-toggle-desc="expand-desc" title="{{Strings.VIEW_COMPLETE_DESCRIPTION}}" href="#">...</a>
        {{/metadata.shortdescription}}
        {{#metadata.homepage}}
            <p><a title="{{metadata.homepage}}" href="{{metadata.homepage}}">{{Strings.EXTENSION_MORE_INFO}}</a></p>
        {{/metadata.homepage}}
        {{#translated}}
            <br/>
            <span class="ext-translated" title="{{translatedLangs}}">{{extensionTranslated}}</span>
        {{/translated}}
    </td>
    <td class="ext-action">
        <div>
        {{#showInstallButton}}
            <button class="btn btn-mini install {{^allowInstall}}forced-hidden{{/allowInstall}}" data-extension-id="{{metadata.name}}">
                {{^isInstalled}}{{Strings.INSTALL}}{{/isInstalled}}
                {{#isInstalled}}{{Strings.EXTENSION_INSTALLED}}{{/isInstalled}}
            </button>
        {{/showInstallButton}}
        {{#isInstalled}}
            {{#showUpdateButton}}
                <button class="btn btn-mini update" data-extension-id="{{metadata.name}}" {{^allowUpdate}}disabled title="{{updateNotAllowedReason}}"{{/allowUpdate}}>
                    {{Strings.UPDATE}}
                </button>
            {{/showUpdateButton}}
            <div class="currentThemeText {{^isCurrentTheme}}forced-hidden{{/isCurrentTheme}}" data-extension-id="{{metadata.name}}">{{Strings.CURRENT_THEME}}</div>
            {{#showApplyButton}}
            <button class="btn btn-mini apply primary {{#isCurrentTheme}} current-theme-apply-hide {{/isCurrentTheme}}" data-extension-id="{{metadata.name}}">
                {{Strings.APPLY}}
            </button>
            {{/showApplyButton}}
            {{#disablingAllowed}}
                {{#showUpdateButton}}
                </div><div>
                {{/showUpdateButton}}
                <button class="btn btn-mini disable" data-extension-id="{{metadata.name}}">
                    {{Strings.DISABLE}}
                </button>
            {{/disablingAllowed}}
            {{#enablingAllowed}}
                <button class="btn btn-mini enable" data-extension-id="{{metadata.name}}">
                    {{Strings.ENABLE}}
                </button>
            {{/enablingAllowed}}
            {{#removalAllowed}}
                <button class="btn btn-mini remove danger {{^allowRemove}}forced-hidden{{/allowRemove}}" data-extension-id="{{metadata.name}}">
                    {{Strings.REMOVE}}
                </button>
            {{/removalAllowed}}
            {{#failedToStart}}
                {{^isMarkedForRemoval}}
                    {{Strings.EXTENSION_ERROR}} {{#allowRemove}}(<a class="remove" data-extension-id="{{metadata.name}}">{{Strings.REMOVE}}</a>){{/allowRemove}}
                {{/isMarkedForRemoval}}
            {{/failedToStart}}
            {{#isMarkedForRemoval}}
                {{Strings.MARKED_FOR_REMOVAL}} (<a class="undo-remove" data-extension-id="{{metadata.name}}" href="#">{{Strings.UNDO_REMOVE}}</a>)
            {{/isMarkedForRemoval}}
            {{#isMarkedForDisabling}}
                {{Strings.MARKED_FOR_DISABLING}} (<a class="undo-disable" data-extension-id="{{metadata.name}}" href="#">{{Strings.UNDO_DISABLE}}</a>)
            {{/isMarkedForDisabling}}
            {{#isMarkedForUpdate}}
                {{Strings.MARKED_FOR_UPDATE}} (<a class="undo-update" data-extension-id="{{metadata.name}}" href="#">{{Strings.UNDO_UPDATE}}</a>)
            {{/isMarkedForUpdate}}
        {{/isInstalled}}
        </div>
    </td>
</tr>
